#canvas {
    background-color: rgb(252, 252, 141);
}
/* 
button {
    display: inline-flex;
    background-color: lightgoldenrodyellow;
    height: 50px;
    padding: 0;
    margin: 0;
    vertical-align: text-bottom;
    width: 104px;
}

img {
    display: inline-flex;
    vertical-align: text-top;
    height: 230px;  
    width: 200px;
} */